# -*- coding: utf-8  -*-
# $Id$

# -------------------------------------------------------------------
# Copyright 2010 Achim Köhler
#
# This file is part of openADAMS.
#
# openADAMS is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 2 of the License,
# or (at your option) any later version.
#
# openADAMS is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with openADAMS.  If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------

VERSION = "0.3.2"

_version = {
    'version' : VERSION,
    'bdate'   : "$WCNOW=%Y/%m/%d %H:%M:%S$",
    'wcrev'   : "$WCREV$",
    'wcdate'  : "$WCDATE$",
    'wcrange' : "$WCRANGE$",
    'wcmixed' : "$WCMIXED?yes:no$",
    'wcmods'  : "$WCMODS?tainted:untainted$"
}
SVN_STR = "BDATE %(bdate)s; WCREV %(wcrev)s (%(wcmods)s); WCDATE %(wcdate)s; WCRANGE %(wcrange)s; WCMIXED %(wcmixed)s" % _version
VERSION_STR = "VERSION %(version)s; BDATE %(bdate)s; WCREV %(wcrev)s (%(wcmods)s); WCDATE %(wcdate)s; WCRANGE %(wcrange)s; WCMIXED %(wcmixed)s" % _version

