include _naf_usecase.py
include _naf_tree.py
include _naf_tableview.py
include _naf_requirement.py
include _naf_itemmodel.py
include _naf_filter.py
include _naf_commons.py
include _naf_component.py
include _naf_database.py
include _naf_feature.py
include _naf_folder.py
include _naf_image.py
include _naf_imageviewer.py
include _naf_simplesection.py
include _naf_testcase.py
include _naf_testsuite.py
include _naf_textviewer.py
include naf_exportxml.py
include naf_editor.py
include _naf_resources.py
include _naf_version.py
include oaeditor.py
include oaeditor.pyw
include nafms_de.qm
include oareport.css
include oareport.xsl
include oareportlang.xsl
include README.txt
include CHANGELOG.txt
include COPYING.txt
