/*
Copyright 2008 Achim Köhler

This file is part of openADAMS.

openADAMS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 2 of the License,
or (at your option) any later version.

openADAMS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with AFMS.  If not, see <http://www.gnu.org/licenses/>.
*/

/* $Id: oareport.css 8 2010-08-08 12:56:52Z achimk $ */


body, th, td  {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 100.01%;
}

div.dynheader 
{
	font-weight:bold;
	color: #4444FF;
}

ul.tocfolder {
	padding-left:1em;
	list-style:none;
	margin-bottom:0.5em;
}

div.tocentry {
	padding-left:1em;
}

div#toc { 
	margin-left:0em;
    margin-bottom:1em;
	padding: 0;
	border: none;
	background: #FFFFFF;
}

p#toc {margin-left:0em;}
p#logo {margin-left:2em; margin-top:0; border-bottom:1px dashed silver;}
p#logo:before {content:url(logo.jpg)" "; }
span#logo {position:relative; bottom:3px; font-weight:bold;}


p span.navbutton {
	margin-right : 1em; 
}

div#content {
	margin-top: 0;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 0em;
}

* html div#content {
    height: 1em;  /* Workaround for 3 pixel bug IE 6 and below */
}

div.requirement, div.testcase, div.feature, div.simplesection, div.image, div.component, div.testsuite, div.usecase
{
	padding-left:1em;
	background: #FFFFFF;
	border-top:none;
	border-bottom:none;
	margin-bottom:3ex;
}

div.folder {
	padding-left:1em;
}

body > div.folder {
	margin-left:-1em;
}

h1#id1 {
	/* no top margin for first headline */
	margin-top:0;
}

h1 {
	font-size:x-large;
	color: #4444FF;
	background: #FFFFFF;
}

span.navbutton{
    display:none;
	color:#FFFFFF; 
	padding-bottom:0pt; padding-left:2pt; padding-right:2pt; 
	background:#4444FF;
	font-family:monospace;
}

span.navbutton a:link {color:white; text-decoration:none;}
span.navbutton a:visited {color:white; text-decoration:none;}
span.navbutton a:focus {color:white; text-decoration:none;}
span.navbutton a:hover.navbutton {color:white; text-decoration:none;}
span.navbutton a:active.navbutton {color:white; text-decoration:none;}


h1.folder 
{	
	margin-top:2em;
	margin-bottom:1em;
	background: #FFFFFF;
	border: none;
}


h2 {
 color: #000000;
 text-decoration: none;
 font-size:large;
 /*margin-top:1em;*/
}

table.attributes {
    border-style:solid;
    border-width:thin;
    width:auto;
}
    
table.attributes td 
{
	border-style:dotted;
	border-width:thin;
    padding-left: 1em;
    padding-right: 1em;
}
